@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;   /* Dark Blue */
  --color-secondary: #FACC15; /* Yellow */
  --color-gray-dark: #64748B; /* Dark Gray */
  --color-gray-light: #F1F5F9; /* Light Gray */
  --color-subRed: #DC2626; /* Red */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
